<p>Hey gato!</p>
<p>
   Check it out!  <b>A comment has been added on Walkster!</b>
  <!--  the place_url is to give the email the full url not relative -->
    Check it out <%= link_to 'here', place_url(@place) %>.
</p>

Purrs,<br />
Nannigan