// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
blockquote{
  // color: #fdfbee;
  // background: #4655b5;
  // border-left: 10px solid #ccc;
  border-left: none;
  border-top: 3px solid #4655b5;
  border-bottom: 3px solid #4655b5;
  //border-right: 6px solid #667c1a;
 margin: 1.5em 0;
  padding: 0.25em 1em 0.5em 1em;
   // "\201C""\201D""\2018""\2019";
   //"‹" "›" 
   quotes: '“' '”';
 // quotes:"«" "»";
 //opacity: .33;
}
blockquote small{
  //color: #fdfbee;
}
blockquote:before {
  color: #09a3c1;
  content: open-quote;
  font-family: Oleo Script Swash Caps, serif;
  font-size: 6em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.35em;
  // text-shadow: #fff 0 2px 2px;
}
blockquote p {
  display: inline;
  //color: #fdfbee;
}
blockquote footer:before, blockquote small:before, blockquote .small:before {
content: '\00A0 \00A0 \2014 \00A0';
}
