// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
blockquote {
  background: #fdfbee;
  // border-left: 10px solid #ccc;
  border-left: none;
  margin: 1.5em 10px;
  padding: 0.5em 4px;
   // "\201C""\201D""\2018""\2019";
   //"‹" "›" 
   quotes: '“' '”';
 // quotes:"«" "»";
}
blockquote:before {
  color: #09a3c1;
  content: open-quote;
  font-family: Oleo Script Swash Caps, serif;
  font-size: 4em;
  line-height: 0.1em;
  //margin-right: 0.25em;
  vertical-align: -.25em;
}
blockquote p {
  display: inline;
}
blockquote footer:before, blockquote small:before, blockquote .small:before {
content: '\00A0 \00A0 \2014 \00A0';
}
