* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

html{
	font-size: 16px;
	border-radius: 0;
}

body{
	font-size: 100%;
	font-family: Merriweather, serif;
	font-weight: 400;
	background-image: url('sunny.png');
}

h1, h2, h3, h4, h5, h6{
 color: #529f35;
 font-family: Oswald, sans-serif;
 font-weight: 700;
 letter-spacing: .07em;
}
a{
	color: #529f35;
}

.btn, .btn-primary-custom{
	background: #529f35;
	font-family: Oswald, sans-serif;
	font-size: .75 em;
	letter-spacing: .07em;
	color: #fff;
	border: 0;
	margin: 1em;
	
}
// .nav, .navbar, .navbar-inverse, .navbar-collapse, .navbar-nav, .navbar-right {
// background: #237f8f, url(assets/feet.png);
// border:  #237f8f;
// }

.navbar-inverse, .navbar-nav{
background: #529f35;
background-image: url('feet.png');
height: 60px;
border: #529f35;
}

.navbar-inverse .navbar-nav > li > a {
color: #fff;
}

// ul>.navbar-nav, .navbar-right {
// color: #fff;	
// background-color: #237f8f;
// border-color: #96c1b8;
// }

//background: url(assets/something.png)
//don't need to include 'images' in path


.navbar-inverse .navbar-brand{
	font-family: Oleo Script Swash Caps, serif;
	font-size: 1.5em;
	letter-spacing: .05em;
	color: #fff;
}

.pagination{
	display: block;
	padding: 8px;
	text-align: center;
	border: 1px dotted #237f8f;
	border-left: 0;
	border-right: 0;
	width: 20%;
	overflow: visible;
	margin: 0 auto;
}

.walk-box{

	 -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-bottom: .75em;
 
}